*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #33ccff 0%, #ff99cc 100%);
}
.header {
    width: 100%;
    text-align: center;
    margin-top: 25px;
    background: linear-gradient(to right, #3bbbe6 0%, #ee71b0 100%);
}
.header img {
    float: left;
    width: 64px;
    height: 64px;
    cursor: pointer;
}
.header h1 {
    position: relative;
    top: 18px;
    left: 10px;
}
.logo {
    display: flex;
    display: inline;
}
li {
    list-style: none;
    float: left;
    margin-top: px;
    margin-left: 5px;
    display: block;
}
ul {
    margin-top: 30px;
    margin-left: 30px;
    display: inline-block;
}
li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 20px;
    transition: 0.5s;
    cursor: pointer;
    display: inline-block;
}
li a:hover {
    background: #fff;
    color: #000;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}
.button {
    width: 150px;
    height: 50px;
    border-radius: 20px;
    background: #fff;
    color: #000;
    font-size: 18px;
    font-weight: 600;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
    margin-bottom: 5px;
    margin-top: 50px;
}
.button:hover {
    background: linear-gradient(to right, #33ccff 0%, #ff99cc 100%);
    color: #fff;
    box-shadow: black 0px 0px 10px;
}
#highScore {
    margin-left: 5px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}
#form-1{
    text-align: center;
    padding: 50px;
}
footer {
    bottom: 0;
    text-align: center;
}
.select {
    border-radius: 5px;
}
